@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }

::-webkit-scrollbar-track {
background: rgba(255, 166, 0, 0);        /* цвет дорожки */
}

::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.192);    /* цвет плашки */
border-radius: 20px;       /* закругления плашки */
border: 3px solid rgba(255, 166, 0, 0);  /* padding вокруг плашки */
}

:root {
    --full-height: 100vh;
}

:root.electron {
    --full-height: calc(100vh - 32px);
}

:root[theme='white'] {
    --bg-color:#D1D1F5;
    --accent-color: #B0C7EA;
    --accent-color-two:#92a7c6;
    --button-color: #7C96D6;
    --text-color: black;
    --lastmsg-color: rgba(16, 17, 18, 0.8);
    --lasttime-color: rgba(16, 17, 18, 0.49);
    --timemsg-color: #13344B;
    --online-color: #266A99;
    --button-icon-color: #1c4d70;
    --scrollbar-color: rgba(255, 255, 255, 0.192);
    --scrollbar-border: 3px solid rgba(255, 166, 0, 0);
    --search-color: rgba(0, 0, 0, 0.6);
    --search-bg-color: #B0C7EA;
    --outline: #6A72AF;
    --msgcounter-color: #10BB92;
    --message-time-color: #13344B;
    --active: #7C96D6;
    --messageinput-color: #002844;
    --message-me-color:#D1D1F5;
    --label-color: #FF6969;
    --love-color: #266a99;
    --bg-active-color: #568fb7;
    --bg-setname-color: #B0C7EA;
}
:root {
    --bg-color:#00111C;
    --accent-color: #002E4E;
    --accent-color-two:#002844;
    --button-color: #053C63;
    --text-color: white;
    --lastmsg-color: rgba(225, 236, 247, 0.8);
    --lasttime-color: rgba(225, 236, 247, 0.49);
    --timemsg-color: #266A99;
    --online-color: #266A99;
    --button-icon-color: #2E80B9;
    --scrollbar-color: rgba(0, 0, 0, 0.192);
    --scrollbar-border: 3px solid rgba(255, 166, 0, 0);
    --search-color: #266A99;
    --search-bg-color: #002844;
    --outline: #266A99;
    --msgcounter-color: #10BB92;
    --message-time-color: #002844;
    --active: #053c63;
    --messageinput-color: #002844;
    --message-me-color:#005997;
    --label-color: #FF6969;
    --love-color: #266a99;
    --bg-active-color: #00416E;
    --bg-setname-color: rgb(0, 22, 37);
}

.cet-control-icon, .cet-title {color: var(--text-color);}
.cet-control-icon > svg {fill: var(--text-color)!important}

h2 {
    font-weight: 400;
}

.fadein {
    animation: fadein 0.3s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
}

* {
    transition: all 0.1s;
    font-family: 'Inter', sans-serif;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    min-width: 42px;
    min-height: 42px;
    background: var(--button-color);
    border-radius: 10px;
    color: var(--button-icon-color);
    cursor: pointer;
    max-height: 42px;
}

.button:hover {
    filter: brightness(1.3);
}

.button:active {
    transform: scale(0.95);
}

.bgsearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: var(--search-color);
    background: var(--search-bg-color);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.bgsearch > input {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 15px;
    width: 100%;
}

.bgsearch > input::placeholder {
    color: var(--search-color);
}

.bgsearch > input:focus {
    outline: none;
}

.bgmsg {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 8px;
    border-radius: 10px;    
}

.bgmsg, .button {
    outline: 0px solid var(--outline);
}

.active > .bgmsg, .active > .button {
    background-color: var(--bg-active-color);
    outline: 3px solid var(--outline);
}

.active > .button {
    border: 3px solid var(--outline);
    outline: none;
}

.bgmsg > img {
    height: 50px;
    width: 50px;
    border-radius: 999px;
}

.rightsettings > img {
    height: 42px;
    width: 42px;
    border-radius: 999px;
}

.msgcon {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    user-select: none;
    cursor: pointer;
}

.msgtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.parasha {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nickname {
    color: var(--text-color);
}

.lastmsg {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--lastmsg-color);
}

.timemsg {
    color: var(--lasttime-color);

}

p {margin: 0;}

.concha {
    margin-top: 10px;
    display: flex ;
    gap: 10px;
    flex-direction: column;
}

.msgcounter {
    display: flex;
    width: 26;
    height: 20;
    background: var(--msgcounter-color);
    border-radius: 25px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    color: var(--text-color);
}

.msgcount {
    display: flex;
    width: 26;
    height: 20;
    background: var(--msgcounter-color);
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    font-size: 16px;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.dialog {
    background-image: url("./images/Rectangle 5.png");
    border-radius: 10px;
    min-height: calc(100%-20px);
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--full-height) - 10px);
}

.dialognavbar {
    background-color: var(--accent-color);
    border-radius: 10px 10px 0 0;
    height: calc(65px - 20px);
    padding: 15px;
}

.user > .aboutuser > img {
    height: 45px;
    width: 45px;
    border-radius: 999px;
}

.user, .aboutuser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbaruserprofileinfo {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 19px;
    color: var(--text-color);
}

.status {
    font-size: 14px;
    color: var(--online-color);
}

.dialogbuttons {
    display: flex;
    gap: 5px;
}

.dbutton:hover {
    background: var(--active);
}

.dbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    min-width: 42px;
    height: 42px;
    background: transparent;
    border-radius: 10px;
    color: var(--button-icon-color);
    cursor: pointer;
}

.messageinputcontainer {
    display: flex;
    background-color: var(--messageinput-color);
    margin:10px;
    margin-top: 0px;
    border-radius: 10px;
    min-height: 50px;
    align-items: center;
    padding-left: 5px;
    padding: 0px 5px;
}

.message-input::placeholder {
    color: #053C63!important;
}

.messageinputcontainer > .dbutton:hover {
    background-color: transparent!important;
}
.messageinputcontainer > .dbutton:hover {
    filter: brightness(1.3);
}

.Messagecontainer {
    background-color: var(--accent-color);
    width: fit-content;
    border-radius: 10px;
    padding: 10px 15px;
    color: var(--text-color);
    display: flex;
    max-width: min(50%, 480px);
}

.messages {
    margin: 10px 10px;
    margin-bottom: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
    margin-top: 1px;
    border-radius: 10px;
    padding-top: 10px;
}

.Messagecontainer > .time {
    border: var(--message-time-color);
    display: flex;
    flex-direction: column-reverse;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}

.Messagecontainer.me {
    display: flex;
    background-color: var(--message-me-color);
    justify-content: right;
}
.messagecon.me {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.logIn-Background {
    background-image: url("./images/lines_bg.png");
    border-radius: 10px;
    margin-bottom: 10px;
    width: calc(100vw - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

h1,h2,h3,h4,h5 {
    margin-bottom: 0px;
}

.logIn-HeaderContainer > h1 {
    font-size: 40px;
}

.logIn-HeaderContainer > h2 {
    font-size: 24px;
}

.logIn-HeaderContainer > h1,
.logIn-HeaderContainer > h2 {
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
}

.logIn-HeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginput {
    display: flex;
    gap: 10px;
    max-width: 360px;
}

.buttonreturn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    min-width: 42px;
    min-height: 42px;
    background: var(--button-color);
    border-radius: 10px;
    color: var(--button-icon-color);
    cursor: pointer;
    font-size: 20px;
}

.buttonreturn:hover {
    filter: brightness(1.3);
}

.buttonreturn:active {
    transform: scale(0.95);
}

.loginreturn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 360px;
}

.register {
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 300px;
}
.reg {
    display: flex;
    flex-direction: row;
    gap:30px;
}

.regbutton {
    display: flex;
    gap: 8px;
}

label {
    color: var(--label-color);
    font-size: 15px;
}

.emptybackground {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
}

.emptybgimage {
    position: absolute;
    bottom: 0;
    right: 0;
}

.settings_background {
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 10px;
    margin-bottom: 10px;
    height: calc(var(--full-height) - 10px);
}

.settingscenter {
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    color: var(--text-color);
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 10px;
    overflow-y: auto;
}

.withlove {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--love-color);
    padding-top: 5px;
}

.setname {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background-color: var(--accent-color-two);
    border-radius: 10px;
    padding: 10px;
}

.setava {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background-color: var(--accent-color-two);
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.width100 {
    width: 100%
}

.rightsettings {
    display: flex;
    gap: 10px;
}

.statistic {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background-color: var(--accent-color-two);
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.Chatsettingscontainer {
    display: flex;
    position: absolute;
    right: 25px;
    top: 80px;
    flex-direction: column;
    background-color: var(--accent-color);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.Datecontainer {
    display: flex;
    position: absolute;
    background-color: var(--accent-color);
    margin: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    left: 50%;
    margin-left: 100px;
    top: 80px;
    color: var(--text-color);
}
