@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }

::-webkit-scrollbar-track {
background: rgba(255, 166, 0, 0);        /* цвет дорожки */
}

::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.192);    /* цвет плашки */
border-radius: 20px;       /* закругления плашки */
border: 3px solid rgba(255, 166, 0, 0);  /* padding вокруг плашки */
}

h2 {
    font-weight: 400;
}

.fadein {
    animation: fadein 0.3s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
}

* {
    transition: all 0.1s;
    font-family: 'Inter', sans-serif;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    min-width: 42px;
    min-height: 42px;
    background: #053C63;
    border-radius: 10px;
    color: #2E80B9;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.3);
}

.button:active {
    transform: scale(0.95);
}

.bgsearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #266A99;
    background: #002844;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.bgsearch > input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    width: 100%;
}

.bgsearch > input::placeholder {
    color: #266A99;
}

.bgsearch > input:focus {
    outline: none;
}

.bgmsg {
    background-color: #002E4E;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 8px;
    border-radius: 10px;    
}

.bgmsg, .button {
    outline: 0px solid #266A99;
}

.active > .bgmsg, .active > .button {
    background-color: #00416E;
    outline: 3px solid #266A99;
}

.active > .button {
    border: 3px solid #266A99;
    outline: none;
}

.bgmsg > img {
    height: 50px;
    width: 50px;
    border-radius: 999px;
}

.rightsettings > img {
    height: 42px;
    width: 42px;
    border-radius: 999px;
}

.msgcon {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    user-select: none;
    cursor: pointer;
}

.msgtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.parasha {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nickname {
    color: white;
}

.lastmsg {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(225, 236, 247, 0.8);
}

.timemsg {
    color: rgba(225, 236, 247, 0.5);

}

p {margin: 0;}

.concha {
    margin-top: 10px;
    display: flex ;
    gap: 10px;
    flex-direction: column;
}

.msgcounter {
    display: flex;
    width: 26;
    height: 20;
    background: #10BB92;
    border-radius: 25px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    color: black;
}

.msgcount {
    display: flex;
    width: 26;
    height: 20;
    background: #001625;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    font-size: 16px;
    color: white;
}

a {
    text-decoration: none;
}

.dialog {
    background-image: url("./images/Rectangle 5.png");
    border-radius: 10px;
    min-height: calc(100%-20px);
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 10px);
}

.dialognavbar {
    background-color: #002E4E;
    border-radius: 10px 10px 0 0;
    height: calc(65px - 20px);
    padding: 15px;
}

.user > .aboutuser > img {
    height: 45px;
    width: 45px;
    border-radius: 999px;
}

.user, .aboutuser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbaruserprofileinfo {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 19px;
    color: white;
}

.status {
    font-size: 14px;
    color: #3f9cde;
}

.dialogbuttons {
    display: flex;
    gap: 5px;
}

.dbutton:hover {
    background: #053c63;
}

.dbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    min-width: 42px;
    height: 42px;
    background: transparent;
    border-radius: 10px;
    color: #2E80B9;
    cursor: pointer;
}

.messageinputcontainer {
    display: flex;
    background-color: #002844;
    margin:10px;
    margin-top: 0px;
    border-radius: 10px;
    min-height: 50px;
    align-items: center;
    padding-left: 5px;
    padding: 0px 5px;
}

.message-input::placeholder {
    color: #053C63!important;
}

.messageinputcontainer > .dbutton:hover {
    background-color: transparent!important;
}
.messageinputcontainer > .dbutton:hover {
    filter: brightness(1.3);
}

.Messagecontainer {
    background-color: #002E4E;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    display: flex;
    max-width: min(50%, 480px);
}

.messages {
    margin: 10px 10px;
    margin-bottom: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
    margin-top: 1px;
    border-radius: 10px;
    padding-top: 10px;
}

.Messagecontainer > .time {
    border: #002844;
    display: flex;
    flex-direction: column-reverse;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}

.Messagecontainer.me {
    display: flex;
    background-color: #005997;
    justify-content: right;
}
.messagecon.me {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.logIn-Background {
    background-image: url("./images/lines_bg.png");
    border-radius: 10px;
    margin-bottom: 10px;
    width: calc(100vw - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

.logIn-HeaderContainer > h1 {
    font-size: 40px;
}

.logIn-HeaderContainer > h2 {
    font-size: 24px;
}

.logIn-HeaderContainer > h1,
.logIn-HeaderContainer > h2 {
    color: white;
    font-weight: 400;
    margin: 0;
}

.logIn-HeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginput {
    display: flex;
    gap: 10px;
    max-width: 360px;
}

.buttonreturn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    min-width: 42px;
    min-height: 42px;
    background: #053C63;
    border-radius: 10px;
    color: #2E80B9;
    cursor: pointer;
    font-size: 20px;
}

.buttonreturn:hover {
    filter: brightness(1.3);
}

.buttonreturn:active {
    transform: scale(0.95);
}

.loginreturn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 360px;
}

.register {
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 300px;
}
.reg {
    display: flex;
    flex-direction: row;
    gap:30px;
}

.regbutton {
    display: flex;
    gap: 8px;
}

label {
    color: #FF6969;
    font-size: 15px;
}

.emptybackground {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.emptybgimage {
    position: absolute;
    bottom: 0;
    right: 0;
}

.settings_background {
    display: flex;
    justify-content: center;
    background-color: #002E4E;
    border-radius: 10px;
    margin-bottom: 10px;
}

.settingscenter {
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    color: white;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.setname {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background-color: #002844;
    border-radius: 10px;
    padding: 10px;
}

.setava {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background-color: #002844;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.width100 {
    width: 100%
}

.rightsettings {
    display: flex;
    gap: 10px;
}

.statistic {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background-color: #002844;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.Chatsettingscontainer {
    display: flex;
    position: absolute;
    right: 25px;
    top: 80px;
    flex-direction: column;
    background-color: #002E4E;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.Datecontainer {
    display: flex;
    position: absolute;
    background-color: #002E4E;
    margin: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    left: 50%;
    margin-left: 100px;
    top: 80px;
    color: white;
}
